# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# dirs
src/outputs/*
!src/outputs/.gitkeep

# VS Code
.vscode
